.state_bar {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 1.2rem;
  right: 1rem;

  .module {
    margin: 0 .3rem;
  }
}

@media screen and (max-width: 992px) {
  .state_bar {
    right: 0.6rem;

    .module {
      margin: 0;
    }
  }
}