.index_page {
  width: 100%;
  height: 100%;
}

.canvas_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main_swiper {
  width: 100%;
  height: 100%;

  .swiper_item {
    width: 100%;
    height: 100%;
  }
}

.poa {
  position: absolute;
  top: 0;
  left: 0;
}

.o1 {
  filter: blur(0px) !important;
  opacity: 1 !important;
}

.o0 {
  filter: blur(100px) !important;
  opacity: 0 !important;
}