.text_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 3.6rem;
  width: 45%;
  height: 7.5rem;
  font-size: .6rem;
  line-height: .8rem;
  letter-spacing: .06rem;
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .text_content {
    top: unset;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    height: 4rem;
    font-size: .4rem;
    text-align: center;
    transform: translateY(0);
  }
}